**/*iml*
*idea*
*.class
**/target/**
**/log**
**/logs/**
*.log
*.pkl
*.pyc
build
**/py/dist
*egg*
**/scalastyle-output.xml
*dependency-reduced-pom.xml
*.bat
*.sublime-workspace
*.sublime-project
**/.DS_Store

.metadata/
.recommenders/
RemoteSystemsTempFiles/
exp/.gitignore
exp/.project
exp/.settings/